body { 
    background-color: lightblue;
    text-align: center;
}

#container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

#outputBox {
    display: flex;
    background-color: black;
    justify-content: center;
}

#display {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
}

#grid-pad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 60vh;
    background-color: #ff9999;
    margin: 0xp 40px 0xp 40px;
    color: #e699ff;
    font-size: 30px;
    box-sizing: border-box;
}

.grid-pad-button {
    background-color: white;
    color: black;
}